* {
    margin: 0;
}

body {
    background-color: #dee5e5;
}
nav{
    background-color: #08415c;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 120px;
    
}
.menubtn{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.btnav{
    height: 100%;
    background: none;
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    left: 115px;
    cursor: pointer;
    transition: 0.2s;
}

.btnav:hover {
    color: #00ffdd;
    scale: calc(1.1);
    
}
/* ---- Espaçamento lateral apenas em texto ---- */
.container-texto {
    padding-left: 25px;
    padding-right: 25px;
}

.imagem-principal {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.imagem-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto-principal h1 {
    position: absolute;
    top: 50%;
    left: 70%;
    color: #FF6FB5;
    -webkit-text-stroke: 1px #FFD1EA;
    font-size: 100px;
    font-family: "Playfair Display", serif;
}

/* ---- Cards de que evitar ---- */
.imagens-evitar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.card-evitar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10%;
}

.card-evitar img {
    width: 372px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-secundario {
    margin-top: 10px;
}

.texto-secundario p {
    margin-bottom: 12px;
    text-align: justify;
}

/* ---- Centralizar vídeos ---- */
.cursos-videos {
    display: flex;
    flex-direction: row;   /* coloca lado a lado */
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;       /* permite quebrar para baixo se faltar espaço */
    gap: 20px;             /* espaço entre os vídeos */
}

.video-container {
    text-align: center;
}

.cursos-videos iframe {
    width: 350px;
    height: 200px;
}
