body {
  margin: 0;
  background-color: #dee5e5;
}
.qlqrcoisa{
  background-image: url("../../foto.avif");
  height: 500px;  object-fit: cover;
  text-align: right;
}
.inicio {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}
.img-principal img{
  width: 450px;
  
}
.titulo1{
  margin-left: 100px;
  font-size: 50px;
}
.sub1 {
  margin-left: 103px;
  margin-top: -30px;
  font-size: 17px;  font-weight: normal;
}
.texto1 {
  text-align: center;
  margin-top: 250px;
}